<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Time</title>


    <link rel="stylesheet" href="/css/app.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/css/pagination.css">

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <script src="https://kit.fontawesome.com/ed7bf01ebf.js" crossorigin="anonymous"></script>

</head>

<body>
    <%- include('partials/header') %>
        <%- body %>
            <%- include('partials/footer') %>
                <script src="/js/jquery-3.3.1.min.js"></script>
                <script src="/js/jquery.twbsPagination.min.js"></script>
                <script src="/js/jquery.twbsPagination.js"></script>
                <script src="/js/popper.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/main.js"></script>
</body>

</html>