<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <img src="/images/logo.svg" class="footer-logo" alt="" />
                    <h5 class="font-weight-normal mt-4 mb-5">
                        This is a website about newspaper which one of my projects on <a
                            class="title-last-news text-white" style="text-decoration: underline;" href="#">my
                            github</a>. Thanks
                        you for visit my website. I build this website in 1 week with some basic features such as:
                        manage user
                        using passport, CRUD news, ... I hope this project is the basic knowledges for me to become a
                        part of your company. Thanks you.
                    </h5>
                    <div class="social-login mb-3">
                        <a href="https://www.facebook.com/profile.php?id=100007891482086" class="facebook text-white">
                            <i class="fa-brands fa-facebook mr-3"></i>
                        </a>
                        <a href="https://github.com/vuong-nguyen-24072001" class="github text-white">
                            <i class="fa-brands fa-github mr-3"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UC9VBBdLrGozah4Wm6_A7XIg/playlists"
                            class="youtube text-white">
                            <i class="fa-brands fa-youtube mr-3"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-3">
                    <h3 class="font-weight-bold mb-3">CATEGORIES</h3>
                    <div class="footer-border-bottom pb-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0 font-weight-600">Magazine</h5>
                        </div>
                    </div>
                    <div class="footer-border-bottom pb-2 pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0 font-weight-600">Business</h5>
                        </div>
                    </div>
                    <div class="footer-border-bottom pb-2 pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0 font-weight-600">Sports</h5>
                        </div>
                    </div>
                    <div class="footer-border-bottom pb-2 pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0 font-weight-600">Arts</h5>
                        </div>
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0 font-weight-600">Politics</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <div class="fs-14 font-weight-600">
                            © 2020 @ <a href="https://www.bootstrapdash.com/" target="_blank" class="text-white">
                                BootstrapDash</a>. All rights reserved.
                        </div>
                        <div class="fs-14 font-weight-600">
                            Handcrafted by <a href="https://www.bootstrapdash.com/" target="_blank"
                                class="text-white">BootstrapDash</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>