<header id="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="navbar-top">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="navbar-top-left-menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Advertise</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Write for Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">In the Press</a>
                        </li>
                    </ul>
                    <ul class="navbar-top-right-menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                        </li>
                        <% if (loggedIn) { %>
                            <% if (currentUser.role=="admin" ) { %>
                                <li class="nav-item"><a class="nav-link" href="/admin/profile">
                                        <%= currentUser.username %>
                                    </a>
                                </li>
                                <% }else { %>
                                    <li class="nav-item"><a class="nav-link" href="/user/profile">
                                            <%= currentUser.username %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <li class="nav-item">
                                            <a href="/user/logout" class="nav-link">Logout</a>
                                        </li>
                                        <% } else { %>
                                            <li class="nav-item">
                                                <a href="/user/login" class="nav-link">Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/user/sign-up" class="nav-link">Sign Up</a>
                                            </li>
                                            <% } %>
                    </ul>
                </div>
            </div>
            <div class="navbar-bottom">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a class="navbar-brand" href="/"><img src="/images/logo.svg" alt="" /></a>
                    </div>
                    <div>
                        <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse justify-content-center collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav d-lg-flex justify-content-between align-items-center">
                                <li>
                                    <button class="navbar-close">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">MAGAZINE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Business</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sports</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Art</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">POLITICS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Travel</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="social-media">

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>