<div class="content-wrapper">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h2>
                            <%= currentUser.username %>
                        </h2>
                        <ul class="vertical-menu">
                            <li><a href="/user/profile">Profile</a></li>
                            <li><a href="/user/create-news">Create News</a></li>
                            <li><a href="/user/update-news">Update News</a></li>
                            <li><a href="#">Illegal News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 stretch-card grid-margin">
                <form class="w-100" action="/user/create-news" method="POST" enctype="multipart/form-data">
                    <div class="form-group">

                        <label for="title" class="text-black">Title</label>
                        <input type="text" class="form-control" placeholder="Title" name="title" required>
                    </div>

                    <div class="form-group">

                        <label for="author" class="text-black">Author</label>
                        <input type="text" class="form-control" placeholder="Author" name="author" required>
                    </div>
                    <div class="form-group">

                        <label for="sdescription" class="text-black">Sort Description</label>
                        <input name="sdescription" placeholder="sort description" class="form-control" required></input>
                    </div>
                    <div class="form-group">

                        <label for="description" class="text-black">Description</label>
                        <textarea name="description" placeholder="Description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image" class="text-black">Upload image</label>
                        <input type="file" name="image" id="image" class="form-control-file text-white">
                    </div>

                    <div class="form-group">
                        <a href="/" class="btn btn-warning">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>