<div class="col-lg-3 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2>
                <%= currentUser.username %>
            </h2>
            <ul class="vertical-menu">
                <li><a href="/user/profile">Profile</a></li>
                <li><a href="/user/create-news">Create News</a></li>
                <li><a href="/user/update-news">Illegal News</a></li>
            </ul>
        </div>
    </div>
</div>